{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
    <section></section>
    <section class="menu">
        <h3 class="sub-heading">notre menu</h3>
        <h1 class="heading">spécialiter d'aujourd'hui</h1>
        <div class="box-container">
        
            <div class="box">
                <div class="image">
                    <img src="{{asset('img/img1.jpg')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

             <div class="box">
                <div class="image">
                    <img src="{{asset('img/img2.jpg')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

             <div class="box">
                <div class="image">
                    <img src="{{asset('img/img3.jpg')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

             <div class="box">
                <div class="image">
                    <img src="{{asset('img/img4.jpg')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

             <div class="box">
                <div class="image">
                    <img src="{{asset('img/img7.png')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

             <div class="box">
                <div class="image">
                    <img src="{{asset('img/img6.png')}}" alt="">
                    <a href="" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>plats délicieux</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, tempore?</p>
                    <a href="" class="btn btn-order"> <i class="fas fa-basket-shopping"></i> panier</a>
                    <span class="pice">5000FCFA</span>
                </div>
            </div>

        </div>

    </section>
{% endblock %}
